In [106]:
import pandas as pd

In [107]:
data=pd.read_csv('d:\pg project responses/new respo customized.csv')
data

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
C:\Users\ANAND\AppData\Local\Temp\ipykernel_2976\3381294755.py:1: SyntaxWarning: invalid escape sequence '\p'
  data=pd.read_csv('d:\pg project responses/new respo customized.csv')

,Unnamed: 0,Name,Gender,Age,Employment Status,Education Qualification,District,Area of Residence,type of vehicle,EV,...,4.5 cost consideration,5.1 consumer preference,5.2 consumer preference,5.3 consmer preference,5.4 consumer preference,5.5 consumer preference,6.1 evm consideration,6.2 evm consideration,6.3 evm consideration,6.4 evm consideration
0,0,Anish Glorisha,Female,18 - 27,Student,Post Graduate,Coimbatore,Urban,Petrol,No,...,4,4,4,4,3,4,3,3,4,3
1,1,Hari,Male,18 - 27,Student,Post Graduate,coimbatore,Rural,Diesel,Yes,...,2,1,1,3,3,3,1,2,2,4
2,2,CHINNAPPANDI J,Male,18 - 27,Student,Post Graduate,coimbatore,Rural,Petrol,Yes,...,1,4,2,4,3,2,4,4,5,5
3,3,P. Manikandan,Male,18 - 27,Student,Post Graduate,Viruthunagar,Urban,Diesel,Yes,...,3,3,1,3,2,2,3,4,4,3
4,4,Divyasri,Female,18 - 27,Student,Post Graduate,Dharmapuri,Urban,Petrol,No,...,4,4,2,2,3,2,2,3,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,196,Karuppaiya,Male,28 - 43,Employed,Diploma,Tiruppur,Urban,Petrol,No,...,1,4,3,3,3,1,5,5,5,5
197,197,Vishal,Male,18 - 27,Employed,Under Graduate,Tiruppur,Urban,Electric batteries,Yes,...,2,5,5,3,4,1,5,5,5,5
198,198,Nivedha,Female,18 - 27,Employed,Post Graduate,Tiruppur,Urban,Petrol,No,...,1,4,4,3,3,1,5,5,5,5
199,199,Xavier,Male,18 - 27,Employed,Under Graduate,Tiruppur,Urban,Petrol,No,...,1,5,4,3,3,1,5,5,5,5
200,200,S.Gangaiarasan,Male,44 - 59,Employed,Post Graduate,Pudukkottai,Rural,Petrol,No,...,1,2,2,1,2,1,4,4,4,3

In [108]:
data.dtypes

Unnamed: 0                   int64
Name                        object
Gender                      object
Age                         object
Employment Status           object
Education Qualification     object
District                    object
Area of Residence           object
type of vehicle             object
EV                          object
1.1 current awareness        int64
1.2 current awareness        int64
1.3 current awareness        int64
1.4 current awareness        int64
2.1 user satisfaction        int64
2.2 user satisfaction        int64
2.3 user satisfaction        int64
2.4 user satisfaction        int64
2.5 user satisfaction        int64
3.1 charging facilities      int64
3.2 charging facilities      int64
3.3 charging facilities      int64
3.4 charging facilities      int64
4.1 cost consideration       int64
4.2 cost consideration       int64
4.3 cost consideration       int64
4.4 cost consideration       int64
4.5 cost consideration       int64
5.1 consumer preference      int64
5.2 consumer preference      int64
5.3 consmer preference       int64
5.4 consumer preference      int64
5.5 consumer preference      int64
6.1 evm consideration        int64
6.2 evm consideration        int64
6.3 evm consideration        int64
6.4 evm consideration        int64
dtype: object

In [109]:
data.columns

Index(['Unnamed: 0', 'Name', 'Gender', 'Age', 'Employment Status',
       'Education Qualification ', 'District', 'Area of Residence',
       'type of vehicle', 'EV', '1.1 current awareness',
       '1.2 current awareness', '1.3 current awareness',
       '1.4 current awareness', '2.1 user satisfaction',
       '2.2 user satisfaction', '2.3 user satisfaction',
       '2.4 user satisfaction', '2.5 user satisfaction',
       '3.1 charging facilities', '3.2 charging facilities',
       '3.3 charging facilities', '3.4 charging facilities',
       '4.1 cost consideration', '4.2 cost consideration',
       '4.3 cost consideration', '4.4 cost consideration',
       '4.5 cost consideration', '5.1 consumer preference',
       '5.2 consumer preference', '5.3 consmer preference',
       '5.4 consumer preference', '5.5 consumer preference',
       '6.1 evm consideration', '6.2 evm consideration',
       '6.3 evm consideration', '6.4 evm consideration'],
      dtype='object')

In [110]:
df=pd.DataFrame(data)
df.head()

,Unnamed: 0,Name,Gender,Age,Employment Status,Education Qualification,District,Area of Residence,type of vehicle,EV,...,4.5 cost consideration,5.1 consumer preference,5.2 consumer preference,5.3 consmer preference,5.4 consumer preference,5.5 consumer preference,6.1 evm consideration,6.2 evm consideration,6.3 evm consideration,6.4 evm consideration
0,0,Anish Glorisha,Female,18 - 27,Student,Post Graduate,Coimbatore,Urban,Petrol,No,...,4,4,4,4,3,4,3,3,4,3
1,1,Hari,Male,18 - 27,Student,Post Graduate,coimbatore,Rural,Diesel,Yes,...,2,1,1,3,3,3,1,2,2,4
2,2,CHINNAPPANDI J,Male,18 - 27,Student,Post Graduate,coimbatore,Rural,Petrol,Yes,...,1,4,2,4,3,2,4,4,5,5
3,3,P. Manikandan,Male,18 - 27,Student,Post Graduate,Viruthunagar,Urban,Diesel,Yes,...,3,3,1,3,2,2,3,4,4,3
4,4,Divyasri,Female,18 - 27,Student,Post Graduate,Dharmapuri,Urban,Petrol,No,...,4,4,2,2,3,2,2,3,4,3

Finding how many people have EV's grouped by gender.

In [111]:
sum1=data.groupby('Gender')['EV'].value_counts()
sum1

Gender  EV
Female  No      47
        Yes      8
Male    No     119
        Yes     27
Name: count, dtype: int64

Finding how many people have EV's grouped by Age category.

In [112]:
sum2=data.groupby('Age')['EV'].value_counts()
sum2

Age      EV
18 - 27  No     118
         Yes     25
28 - 43  No      41
         Yes      9
44 - 59  No       7
         Yes      1
Name: count, dtype: int64

SyntaxError: invalid syntax (3043779595.py, line 1)